body {
  background: #8bf98b;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
.main {
  width: 80%;
  height: 80%;
  background: #1af444;
  border: 2px solid green;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
}
.top {
  height: 50px;
  background: green;
  display: flex;
  justify-content: center;
  gap: 2em;
  align-items: center;
  padding: 1em;
  box-sizing: border-box;
}
.box-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 6px;
  font-weight: 600;
  color: #02340c;
  text-align: center;
  box-sizing: border-box;
}
#box {
  min-width: 20px;
  height: 20px;
  border-radius: 5px;
  background: #fff;
}
.hitbox {
  scale: 1.4;
  color: green;
  
}
.score {
  scale: 1.4;

}
.bottom {
  display: flex;
  justify-content: center;
  /* align-items: flex-start; */
  align-content: center;
  
  flex-wrap: wrap;
  gap: 0.5em;
  width: 100%;
  flex-grow: 1;
  box-sizing: border-box;
  padding: 0.7em;
  overflow: scroll;
}
#bubble {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  border: 2px solid green;
  text-align: center;
  line-height: 40px;
  background: green;
  color: hsl(138.2,81.1%,8.1%);
  box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
}
h3 {
  margin: 0;
}

